
name: Build and Validate SAM Template

on:
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write  # This is required for actions/checkout and graph submission
  
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name:  Checkout Code
      uses: actions/checkout@v6
      with:
        submodules: recursive
    
    - name: Set up JDK 25
      uses: actions/setup-java@v5
      with:
        java-version: '25'
        distribution: 'corretto'
        cache: maven
    
    - name: Install ChimeSMALibrary Parent POM
      working-directory: ./ChimeSMALibrary
      run: mvn -N install --no-transfer-progress
      
    - name: Build up all the libraries
      run: mvn -B install -DskipTests --no-transfer-progress


    - name: Setup AWS SAM
      uses: aws-actions/setup-sam@v2
      with:
        use-installer: true
    
    - name: Cache SAM Build files
      uses: actions/cache@v4
      with:
        path: .aws-sam
        key: ${{ runner.os }}-sam
        
    - name: SAM Build
      run: sam build
      
    - name: Validate SAM Template
      run:  sam validate --lint
      
    - name: Submit Dependency Snapshot
      uses: advanced-security/maven-dependency-submission-action@v5
      
